<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufpe.cin.android.systemservices">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <!--
        pega valor de uma string definida em arquivo apenas para chaves,
        chamado apikeys.xml (nao esta no github, por razoes obvias)
        gere a sua propria e coloque no arquivo ou direto aqui no manifest
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".notification.NotificationManagerActivity" />
        <activity android:name=".notification.NotificationSubActivity" />
        <activity android:name=".notification.NotificationSubCustomActivity" />
        <activity android:name=".notification.NotificationCustomActionActivity" />
        <activity android:name=".alarm.AlarmManagerActivity" />
        <activity android:name=".alarm.AlarmSimpleActivity" />

        <receiver
            android:name=".alarm.AlarmLogReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".alarm.AlarmNotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".power.PowerManagerActivity" />
        <activity android:name=".sensor.SensorManagerActivity" />
        <activity android:name=".power.WakeLockActivity" />
        <activity android:name=".power.KeepScreenOn1Activity" />
        <activity android:name=".power.KeepScreenOn2Activity" />
        <activity android:name=".pkg.PackageManagerActivity" />
        <activity android:name=".sensor.SensorListActivity" />
        <activity android:name=".sensor.SensorSingleValueActivity" />
        <activity android:name=".sensor.SensorXYZActivity" />
        <activity android:name=".sensor.GestureDetectorActivity" />
        <activity android:name=".pkg.LauncherActivity" />
        <activity android:name=".pkg.PrefActivitiesActivity" />
        <activity android:name=".pkg.PackageManagerQueryActivity" />
        <activity android:name=".jobscheduler.JobSchedulerActivity" />
        <activity android:name=".jobscheduler.DownloadViewActivity" />

        <service
            android:name=".jobscheduler.DownloadJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".jobscheduler.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".phonesms.PhoneSmsActivity" />
        <activity android:name=".phonesms.PhoneDialerActivity" />
        <activity android:name=".phonesms.PhoneCallerActivity" />
        <activity android:name=".phonesms.PhoneManagerActivity" />
        <activity android:name=".phonesms.SmsSenderActivity" />
        <activity android:name=".phonesms.SmsSendDirectActivity" />

        <receiver
            android:name=".phonesms.SmsReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="2">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity android:name=".phonesms.SmsReceivedActivity" />
        <activity android:name=".location.LocationMapsActivity" />
        <activity android:name=".location.ProvidersActivity" />
        <activity android:name=".location.LocationActivity" />
        <activity android:name=".location.FusedLocationActivity" />
        <activity android:name=".location.MapActivity" />
        <activity android:name=".location.FusedLocationMapActivity"></activity>
    </application>
</manifest>